$end: 5;
$step: 10;
$useMargin: false;
$usePadding: true;

@for $i from 0 through $end {
    @if ($useMargin) {        
        .mt#{$i * $step} {
            margin-top: unquote("#{$step * $i}px");
        }
        .mb#{$i * $step}{
            margin-bottom: unquote("#{$step * $i}px");
        }
    }
    @if ($usePadding) {
        .pt#{$i * $step}{
            padding-top: unquote("#{$step * $i}px");
        }
        .pb#{$i * $step}{
            padding-bottom: unquote("#{$step * $i}px");
        }
    }
}